.dashboard-container {}

.left-content {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 230px;
  color: #666666;
  background-color: #f2f2f2;
  box-shadow: 5px 0 5px -5px #666666;
}

.header-container {
  display: flex;
  align-items: center;
  padding: 20px;

  .logo1 {
    width: 50px;
    height: 50px;
  }

  .logo2 {
    width: 50px;
    height: 50px;
    margin-left: 10px;
  }
}

.profile-container {
  display: flex;
  align-items: center;
  padding: 40px 20px 5px 20px;

  .profile-icon-wrapper {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #fdd041;

    .profile-icon {
      width: 50px;
      height: 50px;
    }
  }

  .profile-info {
    font-size: 14px;
    margin-left: 20px;
  }
}

.profile-group {
  display: flex;
  align-items: center;
  padding: 0 0 80px 20px;

  .group-title {
    font-size: 14px;
    margin-right: 10px;
  }

  .group-select {
    border: 0;
    color: #666666;
    font-size: 14px;
    background-color: transparent;
  }
}

.nav-links {
  .nav-link {
    padding: 25px 0;
    text-align: center;
    cursor: pointer;

    &.active {
      background-color: #ffffff;
    }

    .nav-link-text {
      display: inline-block;
      margin-left: 20px;
      width: 100px;
      font-size: 16px;
      text-align: left;
    }
  }
}

.footer {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);

  .footer-image {
    width: 120px;
  }
}

.center-content {
  position: absolute;
  padding-right: 270px;
  left: 233px;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #f2f2f2;
}

.center-top-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 30px 20px 20px;

  .status-card-container {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    background-color: #ffffff;

    .status-card-title {
      margin: 0;
      padding: 5px 10px;
      font-size: 12px;
      color: #666666;
    }

    .status-card-fill {
      flex: 1 1 auto;
      padding: 10px;
      text-align: center;
    }

    .card-report-section {
      font-size: 18px;
      color: #666666;

      label {
        font-size: 40px;
        font-weight: 600;
        font-family: sans-serif;
      }
    }

    .status-card-footer {
      padding: 20px;

      .card-footer-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
        color: #666666;

        .card-footer-left {
          font-size: 12px;

          span {
            margin-right: 5px;
          }
        }

        .card-footer-right {
          font-size: 12px;
        }

        .card-footer-number {
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
  }
}

.center-bottom-content {
  position: absolute;
  left: 20px;
  right: 290px;
  bottom: 0;
  background-color: #ffffff;
}

.right-content {
  position: fixed;
  top: 30px;
  right: 20px;
  bottom: 0;
  width: 250px;
  height: 100%;
  background-color: #ffffff;
}