$break-point: 1260px;
$fontColor : #666666;

.dashboard-container {}

.left-content {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 230px;
  color: $fontColor;
  background-color: #f2f2f2;
  box-shadow: 5px 0 5px -5px $fontColor;
}

.header-container {
  display: flex;
  align-items: center;
  padding: 20px;

  .logo1 {
    width: 50px;
    height: 50px;
  }

  .logo2 {
    width: 50px;
    height: 50px;
    margin-left: 10px;
  }
}

.profile-container {
  display: flex;
  align-items: center;
  padding: 40px 20px 5px 20px;

  .profile-icon-wrapper {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #fdd041;

    .profile-icon {
      width: 50px;
      height: 50px;
    }
  }

  .profile-info {
    font-size: 14px;
    margin-left: 20px;
  }
}

.profile-group {
  display: flex;
  align-items: center;
  padding: 0 0 80px 20px;

  .group-title {
    font-size: 14px;
    margin-right: 10px;
  }

  .group-select {
    border: 0;
    color: $fontColor;
    font-size: 14px;
    background-color: transparent;
  }
}

.nav-links {
  .nav-link {
    padding: 25px 0;
    text-align: center;
    cursor: pointer;

    &.active {
      background-color: #ffffff;
    }

    .nav-link-text {
      display: inline-block;
      margin-left: 20px;
      width: 100px;
      font-size: 16px;
      text-align: left;
    }
  }
}

.footer {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);

  .footer-image {
    width: 120px;
  }
}

.center-content {
  position: absolute;
  padding-right: 270px;
  left: 233px;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #f2f2f2;
}

.center-top-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 30px 20px 20px;

  .status-card-container {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    background-color: #ffffff;

    .status-card-title {
      margin: 0;
      padding: 5px 10px;
      font-size: 12px;
      color: $fontColor;
    }

    .status-card-fill {
      display: flex;
      flex: 1 1 auto;
      justify-content: center;
      align-items: center;
      padding: 10px;
    }

    .card-report-section {
      font-size: 18px;
      color: $fontColor;

      label {
        margin-right: 2px;
        font-size: 40px;
        font-weight: 600;
        font-family: sans-serif;
      }
    }

    .status-card-footer {
      padding: 20px 10px;

      .card-footer-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 5px;
        color: $fontColor;

        .card-footer-left {
          display: flex;
          align-items: center;
          font-size: 12px;

          span {
            margin-right: 5px;
          }
        }

        .card-footer-right {
          display: flex;
          align-items: center;
          font-size: 12px;
        }

        .card-footer-general {
          display: flex;
          flex-basis: 48%;
          align-items: center;
          justify-content: space-between;
          font-size: 12px;

          .card-status-label {
          }

          .card-footer-number-block {

          }
        }

        .card-status-block {
          display: inline-block;
          margin-right: 5px;
          height: 12px;
          width: 12px;
          
          &.darkBlue {
            background-color: #15a7f7;
          }

          &.lightBlue {
            background-color: #add8ed;
          }

          &.orange {
            background-color: #ffb626;
          }

          &.gray {
            background-color: #666666;
          }
        }

        .card-footer-number {
          display: inline-block;
          margin-left: 10px;
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
  }
}

.center-bottom-content {
  position: absolute;
  left: 20px;
  right: 290px;
  bottom: 0;
  background-color: #ffffff;

  .school-track-title {
    margin: 0;
    padding: 10px;
    font-size: 12px;
    color: $fontColor;
  }

  .school-track-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    color: $fontColor;
  }

  .school-track-single {
    display: flex;
    flex-direction: column;
    align-items: center;

    .school-track-bar {
      width: 15px;
      height: 200px;

      .school-track-section {
        display: inline-block;
        height: 50px;
        width: 15px;

        &.one {
          background-color: #666666;
        }

        &.two {
          background-color: #ffb626;
        }

        &.three {
          background-color: #add8ed;
        }

        &.four {
          background-color: #15a7f7;
        }
      }
    }

    .school-track-class {
      margin: 20px 0 5px;
      font-size: 12px;
    }

    .school-track-profile-icon {
      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}

.right-content {
  position: fixed;
  top: 30px;
  right: 20px;
  bottom: 0;
  width: 250px;
  height: 100%;
  background-color: #ffffff;
}

@media screen and (max-width: $break-point) {
  .center-top-content {
    flex-direction: column;

    .status-card-container {
      margin-bottom: 10px;
    }
  }
}