.dashboard-container {}

.left-content {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  color: #666666;
  background-color: #f2f2f2;
  box-shadow: 5px 0 5px -5px #666666;
}

.header-container {
  display: flex;
  align-items: center;
  padding: 20px;

  .logo1 {
    width: 50px;
    height: 50px;
  }

  .logo2 {
    width: 50px;
    height: 50px;
    margin-left: 10px;
  }
}

.profile-container {
  display: flex;
  align-items: center;
  padding: 40px 20px 5px 20px;

  .profile-icon-wrapper {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #fdd041;

    .profile-icon {
      width: 50px;
      height: 50px;
    }
  }

  .profile-info {
    font-size: 14px;
    margin-left: 20px;
  }
}

.profile-group {
  display: flex;
  align-items: center;
  padding: 0 0 80px 20px;

  .group-title {
    font-size: 14px;
    margin-right: 10px;
  }
}

.nav-links {
  .nav-link {
    padding: 20px 0;
    font-size: 16px;
    text-align: center;
    cursor: pointer;

    &.active {
      background-color: #ffffff;
    }
  }
}