$boxShadow: 0 0 5px #666666;

.manage-columns {
    display: flex;
}

.manage-board {
    flex-basis: 40%;
}

.manage-role {
    display: flex;
    justify-content: space-between;
    padding: 20px;

    .button {
        padding: 10px 30px;
        border: none;
        background-color: #ffffff;
        box-shadow: $boxShadow;

        &.student {
            color: #ffffff;
            background-color: #ffb626;
        }

        &.teacher {
            color: #666666;
        }

        &.course {
            color: #666666;
        }
    }
}

.manage-general {
    display: flex;
    flex-direction: column;
    margin: 0 20px 20px;
    padding: 10px;
    color: #666666;
    background-color: #ffffff;
    box-shadow: $boxShadow;

    .people-title {
        font-size: 12px;           
    }

    .manage-people {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .people-label {
            flex-basis: 50%;
            font-weight: bold;

            .people-number {
                font-size: 30px;
            }
        }

        .manage-people-detail {
            display: flex;
            flex-direction: column;
            flex-basis: 50%;
            font-size: 12px;
    
            .manage-people-gender {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .people-by-gender {
                    display: flex;
                    align-items: center;
                    margin-bottom: 5px;
                }

                .gender-icon {
                    margin-right: 2px;
                    width: 15px;
                    height: 15px;
                }
            }
        }
    }
}

.class-general {
    margin: 0 20px 20px;

    .class-label {
        display: inline-block;
        margin-bottom: 10px;
        font-size: 12px;
        color: #666666;
    }

    .class-profile-content {
        display: flex;
        flex-wrap: wrap;

        .class-profile {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-basis: 29%;
            margin: 2%;
            font-size: 12px;
            color: #666666;
            background-color: #ffffff;
            box-shadow: $boxShadow;

            &.add-class {
                position: relative;
                box-shadow: none;
                color: #ffffff;
                background-color: transparent;

                .class-add-button {
                    position: absolute;
                    bottom: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 10px 15px;
                    background-color: #ffb626;

                    .class-title {
                        margin-bottom: 10px;
                        padding: 0;
                    }

                    svg {
                        font-size: 16px;
                    }
                }
            }

            .class-title {
                padding-top: 10px;
            }

            .class-people {
                display: inline-block;
                padding: 15px 0;
                font-size: 16px;
                font-weight: bold;
            }
        }
    }
}

.manage-detail {
    flex-basis: 60%;
}

.student-summary {
    display: flex;
    padding: 0 20px 20px;

    .student-category {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-right: 15px;
        padding: 10px;
        color: #666666;
        background-color: #ffffff;
        box-shadow: $boxShadow;

        label {
            font-size: 12px;
        }

        svg {
            padding: 8px 30px;
            font-size: 20px;
        }
    }
}

.class-detail {
    margin: 0 20px;
    padding: 10px;
    background-color: #ffffff;

    .class-title {
        font-size: 12px;
        color: #666666;
    }

    .class-detail-row {
        display: flex;
        flex-wrap: wrap;

        .class-detail-profile {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-basis: 14%;
            margin: 1%;
            color: #666666;
            box-shadow: $boxShadow;

            &.add-student {
                position: relative;
                box-shadow: none;

                .class-user {
                    position: absolute;
                    top: 10px;
                    padding: 6px;
                    color: #ffffff;
                    background-color: #ffb626;
                    border-radius: 50%;

                    svg {
                        font-size: 16px;
                        font-weight: bold;
                    }
                }

                .class-student {
                    padding: 0;
                    position: absolute;
                    bottom: 10px;
                }
            }

            .class-user {
                position: relative;
                padding: 10px 0;

                svg {
                    font-size: 26px;
                }

                .user-gender-icon {
                    position: absolute;
                    top: 15px;
                    width: 15px;
                    height: 15px;
                }
            }

            .class-student {
                padding-bottom: 10px;
                font-size: 12px;
            }
        }
    }
}